<div class="ml-4 mr-4 pt-4">
  <mat-card class="4">
    <div class="row">
      <div class="col-6">
        <!-- <h5>Payments</h5> -->
      </div>
      <div class="col-6">
        <p style="float:right;">This Week</p>
      </div>
    </div>
    <div class="container ml-2 mr-2 pt-2 pb-2">
      <!-- Chart -->
      <!-- <div *ngIf="chart">
        <canvas id="canvas"> {{ chart }}</canvas>
      </div> -->
      <!-- <canvas id="myChart" class="chartjs-render-monitor" style="display:block;" #donut></canvas> -->
    </div>

  </mat-card>

  <div class="pt-3">
    <mat-card>
      <div class="pt-1">
        <div class="row">
          <div class="col-lg-10 col-md-10">

          </div>
          <div class="col-lg-2 col-md-2">
            <h4>Daily Progress</h4>
            <p style="font-weight:300;">Working Hour</p>
            <p>This Week</p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <hr>
</div>