.side-nav{
    background-color: rgb(118, 124, 111);
    background-image:
    url("../assets/img/sidenav.png");
    /* background-repeat: no-repeat; */
    background-repeat: repeat-y;
    bottom: 0;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 200px;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    overflow-x: hidden;
    padding-top: 20px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    flex: 1;
  }
  .side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 3px 8px;
	/* border-bottom: 1px solid #3c506a; */
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
}
.side-nav  ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}
.side-nav ul li i {
	color: white;
	min-width: 20px;
    text-align: center;
    font-size: 25px
}
.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 250;
}
  .side-nav-link{
      text-align: center
  }
  .side-nav-link li a{
      color: white
  }
  .main-content{
      margin-left: 200px !important;
      
  }
  .content-page{
    /* background-color:#f5f5f7 !important; */
     background-size: cover; 
     background-repeat: repeat-y;
     height: auto;
     top: 0;
  }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px){
    .side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
    }
    .main-content{
        margin-left: 70px !important;
    }
  }

  /* For mobile view */
  @media (max-width: 575.98px) { 
      .side-nav{
          display: none;
      }
      .main-content{
        margin-left: 0px !important;
    }
    .navbar{
        height: 79px !important;
    }    
   }
   @media (min-width: 575.98px) {
       .navbar{
        height: 97px !important;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
       }
   }

  

/* footer */
.footer{
    position:absolute;
    bottom:0px;
   text-align: center;
   left: 2px;
   right: 2px;
   font-size: 8px;
   color: white;

}
/* Search bar */
.example-form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
    border-radius: 30px 0px 0px 30px;
  }
  
  .example-full-width {
    width: 100%;
  }
  .search-btn{
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
  }






