<div class="container-fluid no-gutters">
  <div class="row justify-content-between align-item-end">
    <div class="card-colm col-sm-6 col-lg-4 col-xs align-self-center">
      <div class="card" routerLink="/dashboard/profile">
        <img class="card-img-top" src="../assets/img/profile.png" alt="Profile">
        <div class="card-body" style="text-align: center;">
          <h4>My Account</h4>
          <mat-card-subtitle>View and manage your profile! </mat-card-subtitle>
        </div>
      </div>
    </div>

    <div class="card-colm col-sm-6 col-lg-4 col-xs align-self-center">
      <div class="card" routerLink="/dashboard/appointments">
        <img class="card-img-top" src="../assets/img/Appointments.png" alt="Profile">
        <div class="card-body" style="text-align: center;">
          <h4>Appointments</h4>
          <mat-card-subtitle>View and manage your Appoinments! </mat-card-subtitle>
        </div>
      </div>
    </div>

    <div class="card-colm col-sm-6 col-lg-4 col-xs align-self-center">
      <div class="card" routerLink="/dashboard/stats" style="align-content:space-between">
        <img class="card-img-top" src="../assets/img/Stats.png" alt="Profile">
        <div class="card-body" style="text-align: center;">
          <h4>Stats</h4>
          <mat-card-subtitle>View and manage your Patient! </mat-card-subtitle>
        </div>
      </div>
    </div>

    <!-- <div class="card-colm col-sm-6 col-lg-4 col-xs align-self-center">
      <div class="card" routerLink="/dashboard/payments">
        <img class="card-img-top" src="../assets/img/Payment.png" alt="Profile">
        <div class="card-body" style="text-align: center;">
          <h4>Payments</h4>
          <mat-card-subtitle>View and manage your Payments! </mat-card-subtitle>
        </div>
      </div>
    </div> -->
  </div>
</div>
